<div class="container mt-5">
  <div class="row">
    <div class="col-6 offset-3">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, label: 'Eメール', autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :profile,
                      label: "プロフィール",
                      required: false %>
          <%= f.input :image,
                      label: "ユーザイメージ",
                      as: :file %>
          <%= f.input :password,
                      label: "パスワード",
                      hint: "変更したくない場合は何も入力しないでください",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      label: "パスワード確認",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      label: "現在のパスワード",
                      hint: "現在のパスワード入力は必須です",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions text-right">
          <%= f.button :submit, "再登録", class: 'btn btn-success' %>
        </div>
      <% end %>

      <%= link_to "戻る", :back, class: 'float-right mt-3' %>

      <p> <%= link_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>


    </div>
  </div>
</div>
