<div class="container-fluid">
  <div class="row my-5">
    <div class="col-4 offset-4 user-container border border-light rounded px-5 py-3">
      <%# ユーザ画像 %>
      <% if @user.image.blank? %>
        <%= image_tag 'default.jpg', class: "icon-image mx-auto d-block" %>
      <% else %>
        <img src=<%= @user.image %> class="icon-image mx-auto d-block" >
      <% end %>
      <%# フォローボタン %>
      <% unless @user.id == current_user.id %>
        <div class="follow-container d-inline ml-4" id="follow-button_#{ @user.id }">
          <%= render 'users/follow_button', user: @user %>
        </div>
      <% end %>
      <%# ユーザ詳細 %>
        <p class="user-name text-center mt-3"><%= @user.username %></p>
      <%# DM機能 %>
      <div class="dm-container">
        <% unless @user.id == current_user.id %>
          <% if @haveRoom == true %>
            <%= link_to room_path(@roomId), class: 'ml-4' do %>
              <i class="far fa-envelope"></i>
            <% end %>
          <% else %>
            <%= form_with(model: @room, local: true, class: 'd-inline ml-4') do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.button :type => "submit", style: 'border-style: none;' do %>
                <i class='far fa-envelope'></i>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%# DM機能 %>
      <p class="user-profile mt-2"><%= @user.profile %></p>
      <div class="mx-auto text-center">
        <span id ="following-count_#{ @user.id }">
        <%= link_to "#{@user.active_relationships.count}フォロー", follows_user_path(@user.id), data: {"turbolinks" => false}, class: 'follow-count' %>
        </span>
        <span class="ml-3" id="follower-count_#{ @user.id }">
        <%= link_to "#{@user.passive_relationships.count}フォロワー", followers_user_path(@user.id), data: {"turbolinks" => false}, class: 'follower-count' %>
        </span>
      </div>
    </div>
  </div>
  <div class="col-4 offset-4 my-2">
    <i class="fas fa-chevron-down"></i><span class="ml-2">フォロー</span>
  </div>
  <%# フォロー一覧 %>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-4 offset-4 d-flex align-items-center border shadow-sm py-3">
        <% if user.image.blank? %>
          <%= image_tag 'default.jpg', class: 'little-icon-image' %>
        <% else %>
          <img src=<%= user.image %> class='little-icon-image'>
        <% end %>
          <%= link_to user.username, user_path(user.id), class: 'ml-2 mr-auto' %>
        <%# フォローボタン %>
        <% unless user.id == current_user.id %>
          <span id="follow-button_#{ @user.id }">
            <%= render 'users/follow_button', user: user %>
          </span>
        <% end %>
     </div>
    <% end %>
  </div>
</div>