<div class="container mt-5">
  <div class="row">
    <div class="col-6 offset-3 border shadow" style="height: 350px;">
    <h2>Log in</h2>
       <div class="col-6 offset-3">

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        label: "Eメール",
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        label: "パスワード",
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, label: "次回ログイン", as: :boolean if devise_mapping.rememberable? %>
          </div>      

          <div class="form-actions text-right">
            <%= f.button :submit, "ログイン", class: 'btn btn-success mt-2' %>
          </div>
        <% end %>     

        <%= render "devise/shared/links" %>
      </div>
    </div> 
  </div>
</div>