<!DOCTYPE html>
<html>
  <head>
    <title>ShinshuFiber</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <%= render partial: 'shared/navigation_bar' %>
      <%= flash[:notice] %>
      <%= yield %>
      <footer>
　　     <ul class="footer-menu">
         <li><%= link_to "利用規約", home_terms_path %> ｜</li>
         <li><%= link_to "プライバシーポリシー", home_privacy_path %> ｜</li>
         <li>お問い合わせ ｜</li>
         <li><%=link_to "開発者について", home_myself_path %></li>
        </ul>
        <p>© All rights reserved by webcampnavi.</p>
      </footer>
    </div>
  </body>
</html>
